*{
	color: #005f93;
	font-family: 'Oswald', sans-serif;
	margin: 0em;
	padding: 0em;
}
#header{
	height: 9.375em;
}
@keyframes imgFadeInOut {
	0% {
		opacity:0;
	}
	25% {
		opacity:0;
	}
	50% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
#img img.fade{
	float: left;
	animation-name: imgFadeInOut;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-direction: initial;
}
#text{
	float: right;
}
input[type=text]{
	animation-duration: 2s;
	padding: 0.625em 1.25em 0.625em 1.25em;
	text-align: center;
}
input[type=submit]{
	background-color: #005f93;
	border: 0.0625em solid #005f93;
	color: white;
	padding: 0.9375em 3.125em 0.9375em 3.125em;
	text-align: center;
	transition: .3s;
}
input[type=submit]:hover{
	background-color: white;
	border: 0.0625em solid #005f93;
	color: #005f93;
	padding: 0.9375em 3.125em 0.9375em 3.125em;
	text-align: center;
}
h1{
	font-size: 3.125em;
}
textarea{
	height: 9.375em;
	resize: none;
	width: 25em;
}
ul, li{
	display: inline;
}
.btn{
	background-color: #005f93;
	border: 0.0625em solid #005f93;
	color: white;
	padding: 0.9375em 3.125em 0.9375em 3.125em;
	text-align: center;
	text-decoration: none;
	transition: .3s;
}
.btn2{
	background: #005f93;
	color: white;
	padding: 0.3125em 0.3125em 0.3125em 0.3125em;
	text-decoration: none;
}
.btn:hover{
	background-color: white;
	border: 0.0625em solid #005f93;
	color: #005f93;
	padding: 0.9375em 3.125em 0.9375em 3.125em;
	text-align: center;
	text-decoration: none;
	transition: .3s;
}
.del:hover{
	background-color: red;
	border: 0.0625em solid red;
	color: white;
	padding: 0.9375em 3.125em 0.9375em 3.125em;
	text-align: center;
	text-decoration: none;
	transition: .3s;
}
.ind{
	pointer-events: none;
	cursor: default;
	background-color: white;
	border: 0.0625em solid red;
	color: red;
	padding: 0.9375em 3.125em 0.9375em 3.125em;
	text-align: center;
	text-decoration: none;
}
.protocolo{
	border: 1px;
}
.search{
	background-image: url('https://www.w3schools.com/css/searchicon.png');
	background-position: 0.625em 0.625em; 
	background-repeat: no-repeat;
	border: 0.0625em solid #B0B0B0;
	font-family: 'Lato', sans-serif;
	padding: 0.625em 1.25em 0.625em 1.25em;
	text-align: center;
}
.wl{
	background-color: white;
	border: 0em;
	color: #005f93;
	padding: 0.9375em 3.125em 0.9375em 3.125em;
	text-align: center;
	text-decoration: none;
}